<aside><button routerLink="normal" class="btn btn-primary">normal-html-form</button><br>
<br><button routerLink="forms" class="btn btn-success">ngModel</button><br>
<br><button routerLink="modelGroup" class="btn btn-secondary">ngModelGroup</button><br>
<br><button routerLink="bindingFormTotsFile" class="btn btn-warning">bindingFormTotsFile</button><br>
<br><button routerLink="TouchedPristinValidComponent"class="btn btn-danger">TouchedPristinValidComponent</button><br>
<br><button routerLink='validation' class="btn btn-warning">validatingWithRedBorder</button>
<br><br><button routerLink='validationWith-Msg' class="btn btn-secondary">ValidationWith-Msg 
  <br> with the help of bootrap</button>
<br><br><button routerLink='IfConditionValidation' class="btn btn-success">IfConditionValidation</button>
<br><br><button routerLink='validation' class="btn btn-primary">validatingWithRedBorder</button>
</aside>
<section >
<router-outlet></router-outlet>
</section> 